* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    background-color: #dfefff;
    width: 30%;
    border-radius: 10px;
}

body {
    background: #000000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.container {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.games {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 60vmin;
    width: 70vmin;
}

.box {
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 0px 10px #6f7d8c;
    font-size: 8vmin;
    background-color: #191f23;
    cursor: pointer;
}

#reset-btn {
    padding: 7px 20px;
    border-radius: 7px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: 2px solid black;
}

#reset-btn:hover {
    background-color: black;
    color: white;
    border: 2px solid rgb(255, 255, 255);
}

#win {
    color: rgb(0, 249, 0);
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
}

.ng {
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: 2px solid black;
}

.ng:hover {
    background-color: black;
    color: white;
    border: 2px solid rgb(255, 255, 255);
}

.msg {
    color: green;
    font-weight: bolder;
    font-size: 20px;
    padding: 20px 50px;

}

.newgame {
    display: none;
}